*{padding: 0;margin: 0}

.style01{
  background-color: rgb(54,54,59);
  color: white;
  font-family: 'Brandon Grotesque', brandon-grotesque, 'Helvetica Neue', Helvetica, sans-serif;
}
.style02{
  background-color:rgb(35,32,39);
  color: white;
  font-family: 'Brandon Grotesque', brandon-grotesque, 'Helvetica Neue', Helvetica, sans-serif;
}
.style03{
  background-color:white;
  color: black;
  font-family: 'Brandon Grotesque', brandon-grotesque, 'Helvetica Neue', Helvetica, sans-serif;
  }
.style04{
  background-color: rgb(40,57,73);
  color: white;
  font-family: 'Brandon Grotesque', brandon-grotesque, 'Helvetica Neue', Helvetica, sans-serif;
  }
.yingyong{
  font-style: italic;
}
p{
  font-family: 'Brandon Grotesque', brandon-grotesque, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 17px;
  height: auto;
  line-height: 51px;
  margin-bottom: 0px;
  margin-left: 87.8125px;
  margin-right: 87.8125px;
  margin-top: 0px;
  max-width: 1100px;
  padding-bottom: 36.6px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 36.6px;
}
h1{
  font-family: 'Brandon Grotesque', brandon-grotesque, 'Helvetica Neue', Helvetica, sans-serif;
  height: auto;
  line-height: 51px;
  margin-bottom: 0px;
  margin-left: 87.8125px;
  margin-right: 87.8125px;
  margin-top: 0px;
  max-width: 1100px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 36.6px;
}
strong{
  font-size: 37px;
}
